* {
    box-sizing: border-box;
}


/** reset **/

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

html,
body,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Transavia_Sans';
    src: url("../fonts/nexa_regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Transavia_xbold';
    src: url("../fonts/nexa_xbold.ttf");
    font-weight: 600;
}

body {
    font-family: "Transavia_Sans", "Open Sans", "Helvetica", sans-serif;
    background-color: #f7f7f7;
    /*background: url(../images/beach-wide.png) no-repeat;*/
}

p {
    font-family: "Transavia_Sans", "Open Sans", "Helvetica", sans-serif;
    color: #727272;
    margin: 0;
}

h1 {
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
    margin-top: .5em;
    font-size: 2em;
}

h2 {
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
}


/****** header *****/

header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 4em;
    border-bottom: 0.0625em solid #dce0e0;
    line-height: 2.3em;
}

header .logo {
    border-right: 0.125em solid #dce0e0;
    padding: .2em 2em .2em 2em;
    height: 4em;
}

header nav ul {
    display: flex;
    list-style: none;
    white-space: nowrap;
    /*zodat het niet eronder valt*/
    margin-top: 0;
    padding: 0;
}

header nav ul li {
    /* op een lijn zetten */
    border-left: 0.0625em solid #dce0e0;
    height: 4em;
    padding: 1em;
}

header nav ul li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: 0px;
}

header nav ul li img {
    vertical-align: middle;
}

header nav ul li a {
    text-decoration: none;
    color: #00d66c;
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
}

header nav ul li:hover {
    transition: .5s;
    background-color: hsla(0, 0%, 94%, 1);
}

header nav ul li:first-child {
    background-color: hsla(0, 0%, 94%, 0);
}

input[type="search"] {
    height: auto;
    padding: 19.5px 0 19.5px 0;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: .85em;
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
}

.fa-search {
    margin: auto;
    padding: 0 .3em;
    color: #dce0e0;
    font-size: 1.7em!important;
    vertical-align: middle;
}

.fa-adjust {
    font-size: 1.6em!important;
    vertical-align: middle;
}

.fa-sign-in {
    font-size: 1.6em!important;
    vertical-align: middle;
}


/******* drop down ******/

.dropbtn {
    color: #00d66c;
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3e5d8;
    width: 9.375em;
    border-radius: 1.25em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 0.1875em;
}

.dropdown-content a:hover {
    background-color: #fff;
    border-radius: 1.25em;
    color: #2800a0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/******** content *********/

main {
    padding: 0 1em;
}

.article-flex-container {
    display: flex;
}

article {
    margin-top: 1em;
    margin-left: 1em;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.75);
    height: 100%;
    border-radius: .5rem;
}

article:nth-child(1) {
    margin-left: 0;
}

.h1-vl,
.h1-v {
    color: #00d66c;
}

.plaatje {
    overflow: hidden;
    height: 10em;
    border-radius: .75rem;
}

article .content {
    padding: 1em;
}

article .meta-data {
    list-style: none;
    font-size: 0.8em;
    padding-bottom: 1em;
}

article h2 {
    font-size: 2.1em;
    padding-bottom: .1em;
    padding-top: .4em;
}

.fa-user,
.fa-calendar-o,
.fa-comment {
    color: #2800a0;
    font-size: 1em;
    margin-right: .3em;
    vertical-align: baseline;
}

.fa-calendar-o,
.fa-comment {
    margin-left: .3em;
}

article footer {
    margin-top: .9em;
    display: flex;
    justify-content: space-between;
}

article footer >:nth-child(2) {
    margin-right: auto;
    margin-left: .3em;
}

.titel-sectie {
    display: flex;
    margin: 1.1em 0 0.6em 0;
    width: 100%;
}

.h1-v {
    vertical-align: middle;
}

.sorteren {
    display: flex;
    /*boekje aan input*/
}

.fa-filter {
    background: #00d66c;
    width: 2.5em;
    height: 2.5em;
    color: #fff;
    margin-right: 0.125em;
    border-bottom: 0.125em solid #1e9162;
    text-align: center;
    padding-top: .6em;
}

.fa-filter:hover {
    transition: .6s;
    background: #4de298;
}

select {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    height: 2.5em;
    width: 5em;
    border-bottom: 0.125em solid #1e9162;
    font-size: 1em;
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
    color: #fff;
    padding: 0 2em 0 1em;
    background: #00d66c;
}

select:hover {
    transition: .6s;
    background: #4de298;
}

#filter-drp {
    display: none;
}

.underline {
    font-size: .8em;
    color: #00d66c;
    padding-top: 1em;
    box-shadow: 0px 2px 0px #dce0e0;
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
}

.underline-desktop {
    padding-top: 2em;
    box-shadow: 0px 2px 0px #dce0e0;
}

.red-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 1.75em;
    -webkit-box-shadow: 0px 3px 0px #ca2b53;
    -moz-box-shadow: 0px 3px 0px #ca2b53;
    box-shadow: 0px 3px 0px #ca2b53;
    color: #ffffff;
    background: #ff3368;
    height: 2.2em;
    text-decoration: none;
    border: 0.0625em solid rgba(0, 0, 0, 0.1);
    /** voor border bug **/
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
    font-size: 1em;
    text-indent: .2em;
}

.red-btn:hover {
    background: #ff658e;
    text-decoration: none;
    transition: .6s;
}

.blue-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 1.75em;
    -webkit-box-shadow: 0px 3px 0px #120145;
    -moz-box-shadow: 0px 3px 0px #120145;
    box-shadow: 0px 3px 0px #120145;
    color: #ffffff;
    background: #28009f;
    height: 2.2em;
    text-decoration: none;
    border: 0.0625em solid rgba(0, 0, 0, 0.1);
    /** voor border bug **/
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
    font-size: 1em;
    text-indent: .2em;
}

.blue-btn:hover {
    background: #5e40b8;
    text-decoration: none;
    transition: .6s;
}


/***** login / register *****/

.login-container {
    padding: 1em;
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-radius: .5rem;
    margin-top: 1em;
    margin-bottom: 6em;
}

.login-container input {
    margin-top: .6em;
    margin-bottom: .6em;
}

fieldset {
    border: 0;
}

legend h1 {
    color: #00d66c;
}

form input {
    width: 100%;
    border: .0625rem solid #91a3b7;
    color: #606060;
    border-radius: .5rem;
    -webkit-transition: border .2s linear, color .2s linear;
    transition: border .2s linear, color .2s linear;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    min-height: 2.5rem;
    padding: 0 .5rem;
    line-height: 2.3rem;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: .3em;
    display: inline-block;
    font-weight: bold;
    color: #202020;
}

form input[type="submit"] {
    border-radius: 1.75em;
    -webkit-box-shadow: 0px 3px 0px #ca2b53;
    -moz-box-shadow: 0px 3px 0px #ca2b53;
    box-shadow: 0px 3px 0px #ca2b53;
    color: #ffffff;
    background: #ff3368;
    height: 2.2em;
    width: 7rem;
    border: 0.0625em solid rgba(0, 0, 0, 0.1);
    /** voor border bug **/
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
    font-size: 1em;
    text-align: center;
    text-indent: 1em;
}

.register {
    background: url(../images/beach-wide.jpg) no-repeat;
}

.register header {
    justify-content: center;
}

.register header .logo {
    border: 0;
}

.register-meta {
    display: flex;
    justify-content: space-between;
}

.register-meta h1 {
    margin-left: -4px;
}

.register-meta h2 {
    margin-top: 1.5em;
    font-size: 1em;
}


/** overig ***/

.flex-end {
    display: flex;
    align-items: baseline;
}

.flex-end >:first-child {
    margin-right: auto;
}

.scrollup {
    position: fixed;
    bottom: 3em;
    right: 3em;
    display: none;
    transition: .3s;
    -webkit-box-shadow: 0px 3px 0px #ca2b53;
    -moz-box-shadow: 0px 3px 0px #ca2b53;
    box-shadow: 0px 3px 0px #ca2b53;
    color: #fff;
    background: #ff3368;
    height: 2.2em;
    width: 2.2em;
    font-family: "Transavia_xbold", "Open Sans", "Helvetica", sans-serif;
    font-size: 1em;
    text-align: center;
    padding-top: .3em;
}


/**** media queries **/


/* breakpoint voor kleine devices */

@media screen and (max-width: 43.6875em) {
    .article-flex-container {
        flex-direction: column;
        align-items: center;
    }
    .article-flex-container .article-fix {
        padding-bottom: 1em;
    }
    .dropdown {
        display: none;
    }
    header nav ul li:nth-child(2) {
        display: none;
    }
    input[type="search"] {
        height: 3em;
        padding: 1em 0 1em 0;
        border: 2px solid #dce0e0;
        width: 100%;
        text-align: center;
        margin-top: 1em;
        border-radius: 20px;
    }
    header .logo {
        padding: .5em;
    }
    article .meta-data {
        display: none;
    }
    .plaatje {
        display: none;
    }
    .fa-adjust {
        display: none;
    }
    .register-meta h2 {
        margin-top: 1.8em;
        font-size: .8em;
    }
}


/* breakpoint voor ipad / scherm */

@media screen and (min-width: 43.75em) and (max-width: 68.6875em) {
    .article-flex-container {
        flex-wrap: wrap;
        /** onder elkaar **/
    }
    .article-flex-container .article-fix {
        padding: 0 1em 1em 0;
        width: 50%;
    }
    .article-flex-container .article-fix:nth-child(even) {
        padding-right: 0;
        /* padding fix aan rechter kant */
    }
    .dropdown {
        display: none;
    }
    article .meta-data {
        display: none;
    }
    input[type="search"] {
        height: 3em;
        padding: 1em 0 1em 0;
        border: 2px solid #dce0e0;
        width: 100%;
        text-align: center;
        margin-top: 1em;
        border-radius: 20px;
    }
    .login-container {
        width: 30em;
        margin: auto;
        margin-top: 1em;
    }
    .plaatje {
        display: none;
    }
}


/* breakpoint voor ipad */

@media only screen and (min-device-width: 43.75em) and (max-device-width: 68.6875em) {
    .article-flex-container {
        display: flex;
        flex-wrap: wrap;
        /** onder elkaar **/
    }
    .article-flex-container .article-fix {
        padding: 0 1em 1em 0;
        width: 50%;
    }
    .article-flex-container .article-fix:nth-child(even) {
        padding-right: 0;
        /* padding fix aan rechter kant */
    }
    .dropdown {
        display: none;
    }
    article .meta-data {
        display: none;
    }
    input[type="search"] {
        height: 3em;
        padding: 1em 0 1em 0;
        border: 2px solid #dce0e0;
        width: 100%;
        text-align: center;
        margin-top: 1em;
        border-radius: 20px;
    }
    .fa-search {
        margin-left: 1.3em;
    }
    header nav ul li a {
        margin-right: 1em;
    }
    .login-container {
        width: 30em;
        margin: auto;
        margin-top: 1em;
    }
    .plaatje {
        display: none;
    }
}


/* laptop */

@media screen and (min-width: 68.75em) and (max-width: 87.4375em) {
    .article-flex-container {
        flex-wrap: wrap;
        /** onder elkaar **/
    }
    .article-flex-container .article-fix {
        padding: 0 1em 1em 0;
        width: 50%;
    }
    .article-flex-container .article-fix:nth-child(even) {
        padding-right: 0;
        /* padding fix aan rechter kant */
    }
    .login-container {
        width: 30em;
        margin: auto;
        margin-top: 1em;
    }
    .home {
        background: #fff;
        width: 70em;
        margin: auto;
        padding: .5em 2em .5em 2em;
    }
    article {
        margin: 0;
        background-color: #fff;
        box-shadow: none;
        height: 100%;
        padding-bottom: 1em;
        box-shadow: 0px 3px 0px #eee;
    }
    article .content {
        padding: 0;
    }
    article .content h2 {
        color: #00d66c;
        font-size: 1.6em;
        font-family: "Transavia_Sans", "Open Sans", "Helvetica", sans-serif;
        font-weight: 100;
    }
    .underline {
        display: none;
    }
}


/* desktop */

@media screen and (min-width: 87.5em) {
    .article-flex-container {
        flex-wrap: wrap;
        /** onder elkaar **/
    }
    .article-flex-container .article-fix {
        padding: 0 0 1em 1em;
        width: 33.333%;
    }
    .article-flex-container .article-fix:nth-child(1) {
        padding-left: 0;
        /* padding fix aan rechter kant */
    }
    .article-flex-container .article-fix:nth-child(4) {
        padding-left: 0;
        /* padding fix aan rechter kant */
    }
    .login-container {
        width: 30em;
        margin: auto;
        margin-top: 1em;
    }
    .home {
        background: #fff;
        width: 70em;
        margin: auto;
        padding: .5em 2em .5em 2em;
    }
    article {
        margin: 0;
        background-color: #fff;
        box-shadow: none;
        height: 100%;
        padding-bottom: 1em;
        box-shadow: 0px 3px 0px #eee;
    }
    article .content {
        padding: 0;
    }
    article .content h2 {
        color: #00d66c;
        font-size: 1.6em;
        font-family: "Transavia_Sans", "Open Sans", "Helvetica", sans-serif;
        font-weight: 100;
    }
    .underline {
        display: none;
    }
    .register {
        background-size: cover;
    }
}